@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-exo), sans-serif;
}


.nav-link {
  position: relative;
}

/* top-left corner */
.nav-link.active::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -20px;
  width: 13px;
  height: 8px;
  border-top: 1px solid rgb(102, 0, 102);   
  border-left: 1px solid rgb(102, 0, 102);
}

/* bottom-right corner */
.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  right: -8px;
  width: 13px;
  height: 8px;
  border-bottom: 1px solid rgb(102, 0, 102);
  border-right: 1px solid rgb(102, 0, 102);
}
